* {
    box-sizing: border-box;
    justify-content: center;
    color: white;
}

html {
    overflow-x: hidden;
}

body {
    background-color: #282D35;
    margin: 0;
}

.headlineText {
    text-align: center;
    margin-bottom: 50px;
}

.destBox {
    padding-top: 100px;
    justify-content: center;
    position: absolute;
}

#map {
    margin-left: 5px;
    width: 375px;
    height: 375px;
    margin-bottom: 50px;
    border-radius: 4px;
    box-shadow: 5px 5px 3px #aaaaaa;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 550px;
 /* Adjust as needed */
}

.center > * {
    margin: auto;
}

.rakkerpic {
    max-width: 370px;
    max-height: 500px;
    justify-content: center;
}

.rakkersection {
    display: inline-block;
    justify-content: center;
    align-content: center;
}

.rakkerheadline {
    text-align: center;
    color: white;
    margin: 0 10px 0 10px;
    max-width: 300px;
}

.rakkerText {
    text-align: center;
    color: white;
    margin: 0 10px 0 10px;
    max-width: 250px;
}

.fade-in {
    animation: fadeIn 1s;
}


@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }

}

.elementToFadeInAndOut {
    opacity: 1;
    animation: fade 5s;
}


@keyframes fade {
    0%,100% { opacity: 0 }
    50% { opacity: 1 }
}

@keyframes moveRight {
    from {left: 0px;}
    to {left: 2000px;}
}

@keyframes moveTopAndRotate {
    from {bottom: 2000px; transform: rotate(0deg);}
    to {bottom: 100px; transform: rotate(359deg);}
}

@keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(359deg);}
}

#onClickImage {
    max-width: 390px;
}

.moveToTopAndRotate {
    position: absolute;
    animation: moveTopAndRotate 2s;
}

.moveToRightFast {
    position: absolute;
    animation: moveRight 5s infinite;
}

#laughingemoji {
    margin: 0px 0px 400px 200px;
    max-width: 200px;
    position: absolute;
    animation: rotate infinite 0.5s;

}