* {
    box-sizing: border-box;
    justify-content: center;
    color: white;
}

html {
    overflow-x: hidden;
}

body {
    background-color: #282D35;
    font-family: Inter, sans-serif;
    margin: 0;
}

.headlineText {
    text-align: center;
}

.robAndJonPic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 370px;
    max-height: 500px;
}

.headlineContainer {
    margin-bottom: 50px;
}

.destBox {
    padding-top: 50px;
    justify-content: center;
    position: relative;
}

#map {
    width: 375px;
    height: 375px;
    margin-bottom: 50px;
    border-radius: 4px;
    box-shadow: 5px 5px 3px #aaaaaa;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
 /* Adjust as needed */
}

.center > * {
    margin: auto;
}

.centerText {
    text-align: center;
}

.rakkerContainer {
    height: 600px;
    margin-top: 20px;
    margin-bottom: 80px;
}

.rakkerpic {
    max-width: 370px;
    max-height: 500px;
    justify-content: center;
}

.rakkersection {
    display: inline-block;
    justify-content: center;
    align-content: center;
}

.rakkerheadline {
    text-align: center;
    color: white;
    margin: 0 10px 0 10px;
    max-width: 300px;
}

.rakkerText {
    text-align: center;
    color: white;
    margin: 0 10px 0 10px;
    max-width: 250px;
}

.fade-in {
    animation: fadeIn 1s;
}


@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }

}

.elementToFadeInAndOut {
    opacity: 1;
    animation: fade 5s;
}


@keyframes fade {
    0%,100% { opacity: 0 }
    50% { opacity: 1 }
}

@keyframes moveRight {
    from {left: 0px;}
    to {left: 2000px;}
}

@keyframes moveTopAndRotate {
    from {bottom: 2000px; transform: rotate(0deg);}
    to {bottom: -550px; transform: rotate(359deg);}
}

@keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(359deg);}
}

@keyframes fadeInFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

/* Apply the animation to an element */
#fadeInFromLeft {
    animation: fadeInFromLeft 1s ease-out;
}

@keyframes fadeInFromRight {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

#fadeInFromRight {
    animation: fadeInFromRight 1s ease-out;
}

@keyframes fadeInFromTop {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Apply the animation to an element */
#fadeInFromTop {
    animation: fadeInFromTop 2s ease-out;
}
#onClickImage {
    max-width: 390px;
}

.moveToTopAndRotate {
    position: absolute;
    animation: moveTopAndRotate 2s;
}

.moveToRightFast {
    position: absolute;
    animation: moveRight 5s infinite;
}

#laughingemoji {
    margin: 0px 0px 400px 200px;
    max-width: 200px;
    position: absolute;
    animation: rotate infinite 0.03s;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #21222A;
    color: gray;
    text-align: center;
}

.copyrightText {
    font-size: 10px;
}